@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.sidebarOpen{
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.sidebarClose{
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}